<ion-view >
  <ion-nav-title>{{"Forget Password" | translate}}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button ng-click="goBack()"
            class=" button-icon button-clear  button-small nav-left-button ion-ios-arrow-left">
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false" layout="column" class="has-header md-padding">
    <ion-item>
      {{"Input your email address" | translate}}
    </ion-item>
    <form name="passwordForm" ng-submit="getPassword(email,passwordForm.$valid)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><i class="icon ion-email"></i></span>
          <input ng-model="email" type="email" name="email" placeholder={{"Email"|translate}} ng-required="true">
        </label>
        <div ng-if="passwordForm.email.$invalid && passwordForm.email.$dirty" ng-messages="passwordForm.email.$error" class="messages">
          <div ng-message="email">Your email address is invalid.</div>
          <div ng-message="required">Your email address is required.</div>
        </div>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block">
          {{"Send verification email" | translate}}
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>