<ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
    <button ng-click="goBack()"
    class=" button-icon button-clear  button-small nav-left-button ion-ios-arrow-left">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <div class="view-title ">Purchase Order</div>
  </ion-nav-title>

  <ion-content padding="true">
    <ul class="list">
      <li class="item">
        <h3 >PO_NUMBER:   {{PODetail.PO_NUMBER}}</h3>
      </li>
      <li class="item">
        <h3 >TARGET_VAL :  {{ PODetail.TARGET_VAL | currency:PODetail.CURRENCY_ISO}}</h3>
      </li>
      <li class="item item-icon-right">
        <h3 >VEND_NAME:  {{ PODetail.VEND_NAME}}</h3>
        <i class="icon ion-ios-arrow-right muted"></i>
      </li>
      <li class="item item-icon-right">
        <h3 >CREATED_BY: {{ PODetail.CREATED_BY}}</h3>
        <i class="icon ion-ios-arrow-right muted"></i>
      </li>
      <li class="item item-icon-right" ng-click="goToItems()">
        <h3 >itemsList</h3>
        <i class="icon ion-ios-arrow-right muted"></i>
      </li>
      <li class="item item-icon-right" ng-click="goToApproveDetail()" ng-if="PODetail.DM_STATUS != 0">
      <h3  >Arrpove Detail {{detail}}</h3>
      <i class="icon ion-ios-arrow-right muted"></i>
      </li>
    </ul>
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >PO_NUMBER :</div>-->
      <!--<div class="column1  bodyFont2" >{{PODetail.PO_NUMBER}}</div>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >TARGET_VAL :</div>-->
      <!--<div class="column1  bodyFont2" >{{ PODetail.TARGET_VAL | currency:PODetail.CURRENCY_ISO}}</div>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >VEND_NAME :</div>-->
      <!--<div class="column1  bodyFont2" >{{ PODetail.VEND_NAME}}</div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >CREATED_BY :</div>-->
      <!--<div class="column1  bodyFont2" >{{ PODetail.CREATED_BY}}</div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap" ng-click="goToItems()">-->
      <!--<div class="column bodyFont1" >itemsList</div>-->
      <!--<div class="column1  bodyFont2" ></div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap" ng-click="goToApproveDetail()" ng-show="PODetail.DM_STATUS != 0">-->
      <!--<div class="column bodyFont1" >Arrpove Detail</div>-->
      <!--<div class="column1  bodyFont2" >{{detail}}</div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<ion-item>-->

    <!--</ion-item>-->

  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-positive">
      <create-task ng-disabled="approve === 'Lock'"
                   class="button button-icon"
                   button-text="approve"
                   num="PODetail.PO_NUMBER"
                   status="PODetail.DM_STATUS"
              ></create-task>
  </ion-footer-bar>
</ion-view>
