<ion-view>
  <ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">

      <button ng-click="goBack()"
              class=" button-icon button-clear  button-small nav-left-button ion-ios-arrow-left">
      </button>

    </ion-nav-buttons>

    <ion-nav-title>Purchase Order Approve</ion-nav-title>

    <ion-nav-buttons side="right">
      <button class="button button-icon " menu-toggle="right">
        Filter
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher on-refresh="refresh()" pulling-text="refresh"></ion-refresher>

    <div class="button-bar">
      <a class="button" bindonce ng-repeat="btn in listButtonBar"  ng-class="{'button-positive': btn===selected}"
         ng-click="btn!==selected && swithPage(btn)"
         onselect="btn===selected">
        {{btn}}
      </a>
    </div>

    <div ng-if="count == 0" class="center">
      <p>no data</p>
    </div>

    <div ng-if="note !== ''" class="center">
      <p>{{note}}</p>
    </div>

    <div ng-if="count !== 0" >
      <ng-include src="'templates/poListPart.html'">
      </ng-include>
    </div>

    <div ng-if="count !== 0 && !isMoreData()" class="center">
      <p>no more data</p>
    </div>

    <ion-infinite-scroll ng-if="isMoreData()" on-infinite="loadMoreData()" icon="ion-loading-c" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

