<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false" >
    <ion-nav-view name="list">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" expose-aside-when="large">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content scroll="false" class="sidebar">
      <div class="heading-item item ">
        <p class="message">Filter</p>
      </div>
      <ion-item>
        <div class="item item-divider " >
          Status
        </div>
        <ion-radio ng-repeat="item in unApprovedFilter" ng-model="choice.data" ng-value="item.value"
                   ng-if="page ==='UnApproved'" ng-click="click()"
                   ng-disabled="choice.data === item.value" menu-close>{{item.text}}</ion-radio>
        <ion-radio ng-repeat="item in approvedFilter" ng-model="choice.data" ng-value="item.value"
                   ng-if="page === 'Approved'" ng-click="click()"
                   ng-disabled="choice.data === item.value" menu-close>{{item.text}}</ion-radio>
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

