<ion-view >
  <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title=" left">
    <ion-nav-title>
      <div class="view-title ">Pr Detail {{po.PO_NUMBER}}</div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <button ng-if="$root.showCustomBack" ng-click="$root.goBack()"
              class=" button-icon button-clear  button-small nav-left-button ion-ios-arrow-left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true">
    <ion-item collection-repeat="pr in results" bindonce
              class="item-text-wrap" ui-sref = "prItemDetail({purchaseRequisitionID : pr.PREQ_NO, itemID : pr.PREQ_ITEM})">
      <div class=" bodyFont2">ITEM: {{ pr.PREQ_ITEM}}</div>
      <div class=" bodyFont1">{{ pr.C_AMT_BAPI }}
      </div>
      <div >{{ pr.CREATED_BY}}
      </div>
      <div class="captionFont3"><span am-time-ago="pr.LAST_CHANGE_TIME"></span>
      </div>
      <div>{{pr.DM_STATUS}}</div>
    </ion-item>

  </ion-content>
</ion-view>
