<ion-view >
  <ion-nav-title>Experience</ion-nav-title>
  <ion-nav-buttons side="left">
    <button ng-click="goBack()"
            class=" button-icon button-clear  button-small nav-left-button ion-ios-arrow-left">
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false" layout="column" class="has-header md-padding">
    <form name="experienceForm" ng-submit="startExperience(user)">
      <div class="list">
        <div class="item item-input">
          <span class="input-label"><i class="icon ion-ios-telephone-outline"></i></span>
          <input ng-model="user.phoneNumber" type="tel" name="phoneNumber" placeholder="Telephone Number" ng-required="true">
          <button class="button button-outline button-positive" ng-click="getVerificationCode(user.phoneNumber)">
            Get code
          </button>
        </div>
        <div ng-if="experienceForm.phoneNumber.$invalid && experienceForm.phoneNumber.$dirty" ng-messages="experienceForm.phoneNumber.$error" class="messages">
          <div ng-message="phoneNumber">Your phone number is invalid.</div>
        </div>
        <div class="item item-input">
          <span class="input-label"><i class="icon ion-locked"></i></span>
          <input ng-model="user.code" type="text" name="code" placeholder="Auth code" ng-required="true">
        </div>
        <div ng-if="experienceForm.code.$invalid && experienceForm.code.$dirty" ng-messages="experienceForm.code.$error" class="messages">
          <div ng-message="required">This field is required.</div>
        </div>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block">
          Experience
        </button>
      </div>
    </form>
      <p>
           Oryza provides efficient and safe way to make any SAP ® function can be used in
        seamless cross-platform interface friendly. For more information please visit
        <a href="www.oryzasoft.com">www.oryzasoft.com</a> </p>

  </ion-content>
</ion-view>