<ion-view >
  <ion-nav-bar class="bar-positive">
    <ion-nav-title>Forget Password</ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="false" layout="column" class="has-header md-padding">
    <ion-item>
      Input your email
    </ion-item>
    <form name="passwordForm" ng-submit="getPassword()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><i class="icon ion-email"></i></span>
          <input ng-model="email" type="email" name="email" placeholder="Email" ng-required="true">
        </label>
        <div ng-if="passwordForm.email.$invalid && passwordForm.email.$dirty" ng-messages="passwordForm.email.$error" class="messages">
          <div ng-message="email">Your email address is invalid.</div>
          <div ng-message="required">Your email address is required.</div>
        </div>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block md-raised md-primary md-button md-default-theme">
          Send email
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>