<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-title>
      Add SAP Account
    </ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
      <form name="addSAPForm" ng-submit="addSAPAccount(sapaccount, addSAPForm.$valid)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label"><i class="icon ion-person-stalker"></i></span>
            <input ng-model="sapaccount.sap_user" type="text" name="account" placeholder="SAP account" ng-required="true">
          </label>
          <div ng-if="addSAPForm.account.$invalid && addSAPForm.account.$dirty" ng-messages="addSAPForm.account.$error" class="messages">
            <div ng-message="required">This field is required.</div>
          </div>
          <label class="item item-input">
            <span class="input-label"><i class="icon ion-locked"></i></span>
            <input ng-model="sapaccount.sap_password" type="password" name="password" placeholder="Password" ng-required="true">
          </label>
          <div ng-if="addSAPForm.password.$invalid && addSAPForm.password.$dirty" ng-messages="addSAPForm.password.$error" class="messages">
            <div ng-message="required">This field is required.</div>
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block md-raised md-primary md-button md-default-theme">
            Verify SAP Account
          </button>
        </div>
      </form>
  </ion-content>
</ion-view>