<ion-view >
  <ion-nav-title>Approve Detail</ion-nav-title>

  <ion-header-bar class="bar-positive bar-header2">
    <div class="row">
      <div class="col col-80">
        <div class="row responsive-sm">
          <div class="col bar-text "><h4>{{approveStatus}}</h4></div>
        </div>
        </br>
        </br>
        </br>
        <div class="row responsive-sm">
          <div class="col bar-text"><h1>{{ results.TARGET_VAL | currency:results.CURRENCY_ISO}}</h1></div>
        </div>
      </div>
    </div>
  </ion-header-bar>

  <ion-content class="has-header2" has-header="true" padding="true">
    <ul class="list">
      <li class="item item-icon-right">
        <h3 >PO_NUMBER:   {{results.PO_NUMBER}}</h3>
        <i class="icon ion-ios-arrow-right muted"></i>
      </li>
      <li class="item item-icon-right">
        <h3 >VEND_NAME:  {{ results.VEND_NAME}}</h3>
        <i class="icon ion-ios-arrow-right muted"></i>
      </li>
      <li class="item item-icon-right">
        <h3 >CREATED_BY: {{ results.CREATED_BY}}</h3>
        <i class="icon ion-ios-arrow-right muted"></i>
      </li>
      <li class="item ">
        <div class="row">
          <div class="col" ng-if="results.DM_STATUS == 1 || results.DM_STATUS == 3"><h3>Submit approve</h3></div>
          <div class="col" ng-if="results.DM_STATUS == 1 || results.DM_STATUS == 3"><h3>approving</h3></div>
          <div class="col" ng-if="results.DM_STATUS == 3"><h3>approved</h3></div>
          <div class="col" ng-if="results.DM_STATUS == 5 || results.DM_STATUS == 6"><h3>Submit reset</h3></div>
          <div class="col" ng-if="results.DM_STATUS == 5 || results.DM_STATUS == 6"><h3>approving</h3></div>
          <div class="col" ng-if="results.DM_STATUS == 6 "><h3>Resetted</h3></div>
        </div>
      </li>
      <li class="item">
        <button ng-click="goBack()">Back</button>
      </li>
    </ul>
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >PO_NUMBER :</div>-->
      <!--<div class="column1  bodyFont2" >{{results.PO_NUMBER}}</div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >VEND_NAME :</div>-->
      <!--<div class="column1  bodyFont2" >{{ results.VEND_NAME}}</div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" >CREATED_BY :</div>-->
      <!--<div class="column1  bodyFont2" >{{ results.CREATED_BY}}</div>-->
      <!--<i class="icon ion-ios-arrow-right muted"></i>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<div class="column bodyFont1" ng-show="results.DM_STATUS == 1 || results.DM_STATUS == 3">Submit approve</div>-->
      <!--<div class="column1  bodyFont3" ng-show="results.DM_STATUS == 1 || results.DM_STATUS == 3">approving</div>-->
      <!--<div class="column2  bodyFont3" ng-show="results.DM_STATUS == 3">approved</div>-->
      <!--<div class="column bodyFont1" ng-show="results.DM_STATUS == 5 || results.DM_STATUS == 6">Submit reset</div>-->
      <!--<div class="column1  bodyFont3" ng-show="results.DM_STATUS == 5 || results.DM_STATUS == 6">approving</div>-->
      <!--<div class="column2  bodyFont3" ng-show="results.DM_STATUS == 6 ">Resetted</div>-->
    <!--</ion-item>-->
    <!--<hr />-->
    <!--<ion-item class="flex-container wrap">-->
      <!--<button ng-click="goBack()">Back</button>-->
    <!--</ion-item>-->
  </ion-content>
</ion-view>