<ion-view>
  <ion-content>

    <ion-refresher on-refresh="refresh()"></ion-refresher>

    <div class="button-bar">
      <a class="button" bindonce ng-repeat="btn in listButtonBar"  ng-class="{'button-positive': btn===selected}"
         ng-click="swithPage(btn)"
         onselect="btn===selected"
         eat-click-if="btn===selected">
        {{btn}}
      </a>
    </div>
    <div ng-if = "newMessage !== ''">NEW MESSAGE</div>

    <div ng-show="results===''" class="center">
      <p>no data</p>
    </div>

    <div ng-if="results !==''" >
      <ng-include src="'js/routes/po/poListPart.html'">
      </ng-include>
    </div>

    <ion-infinite-scroll ng-if="isMoreData()" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

