<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">


    <ion-nav-bar class="bar-positive">

      <ion-nav-title>Po  Approve</ion-nav-title>

      <ion-nav-buttons side="right">
        <button class="button button-icon " menu-toggle="right">
          Filter
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="po"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" expose-aside-when="large">
    <ion-content scroll="false" class="sidebar">
      <div class="heading-item item ">
        <p class="message">Filter</p>
      </div>
      <ion-item>
        <div class="item item-divider " >
          Status
        </div>
        <ul class="nav sidebar-nav">
          <li class="divider"></li>
          <li md-ink-ripple="#333">
            <a ng-click="goDetail('')" nav-clear menu-close>
              All
            </a>
          </li>
          <li class="divider"></li>
          <li md-ink-ripple="#333">
            <a ng-click="goDetail('0')" nav-clear menu-close>
              Unapproved
            </a>
          </li>
          <li class="divider"></li>
          <li md-ink-ripple="#333">
            <a ng-click="goDetail('1')" nav-clear menu-close>
              Locked
            </a>
          </li>
          <li class="divider"></li>
          <li md-ink-ripple="#333">
            <a ng-click="goDetail('3')" nav-clear menu-close>
              Approved
            </a>
          </li>
          <li class="divider"></li>
          <li md-ink-ripple="#333">
            <a ng-click="goDetail('6')" nav-clear menu-close>
              Cancelled
            </a>
          </li>
          <li class="divider"></li>
        </ul>
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

